@media (min-width: 360px) {
    .landing-page-shadow .container h1 {
        font-size: 23px;
    }
}

@media (min-width: 576px) {
    .offer-box {
        width: 45.62%;
        padding-bottom: 45.62%;
        margin-right: 8.75%;
    }

    .offer-box:nth-of-type(2n) {
        margin-right: 0;
    }

    footer .container p {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .nav-links {
        display: block;
    }

    .landing-page-shadow .container h1 {
        font-size: 36px;
        width: 70%;
    }

    .about h1 {
        text-align: left;
    }

    .about-employee {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-employee-desc {
        width: calc(100% - 250px);
    }

    .about-employee-pic {
        margin-bottom: 0;
    }

    .offer-wrapper {
        width: 720px;
    }

    footer {
        height: 70px;
    }

    footer .container {
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }

    div.socials i {
        padding-left: 25px;
        margin-top: 0;
    }
}


@media (min-width: 1024px) {
    .landing-page-shadow .container h1 {
        width: 60%;
    }

    .offer-box {
        width: 27.5%;
        padding-bottom: 27.5%;
    }

    .offer-box:nth-of-type(2n) {
        margin-right: 8.75%;
    }

    .offer-box:nth-of-type(3n) {
        margin-right: 0;
    }

    .offer-box:hover {
        transform: scale(1.05);
    }
}