* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 94%;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .container {
        width: 960px
    }
}

section {
    padding: 50px 0;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 18px;
}